.item-name {
    padding: 0 5px 0 0;
    font-weight: 600;
    color: #151515;
}

.highlight {
    color: #FF5722;
}
.tips {
    padding: 0.25em 0.5em;
    font-style: italic;
    color: #FF5722;
    background-color: #ffe7b2;
    border-radius: 0.2em;
}

.pre-1 {
    width: 4em;
}
.pre-2 {
    width: 8em;
}

h4, h5, h6 {
    margin-top: 1.5em;
}
.mycode {
    background: #f5f5f5;
    border: 1px solid #eee;
    border-radius: 10px;
}

.center {
    text-align: center;
}

.gap {
    display: inline-block; 
}
.gap-xs {
    width: 20px;
}
.gap-sm {
    width: 50px;
}
.gap-md {
    width: 100px;
}
.gap-lg {
    width: 200px;
}

.item {
    display: inline-block;
}
.item-xs {
    width: 80px;
}
.item-sm {
    width: 150px;
}
.item-md {
    width: 250px;
}
.item-lg {
    width: 350px;
}

.img {
    margin: 1em 0;
}
.img-xs {
    width: 300px;
}
.img-sm {
    width: 500px;
}
.img-md {
    width: 690px;
}
.img-lg {
    width: 800px;
}












